.formNewPropiedad {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr; /* Una columna */
    gap: 10px;
    .contentLabel {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 0 auto;
        background-color: aqua;
        
        

    }
    label {
       
        padding: 4px;
    }
    
}